In [1]:
import pandas as pd

In [2]:
df  = pd.read_csv("classification_5000.csv")
df

,DateTime,In_Flow,In_Angle,In_Temp,Out_Temp,In_Pressure,Viscosity,Humidity,Rot_Speed,Valve_Opening,Tank_%,Out_Speed,Thickness,Vibration,Col_density,Oxygen,Quality_type
0,2021-01-01 00:00,1.41,0.40,0.27,-0.31,1.75,-0.93,0.09,1.85,-0.71,-1.50,0.48,-0.65,0.55,-1.40,0.42,Premium
1,2021-01-01 01:00,-1.41,-0.02,-0.52,-1.83,-3.13,-0.52,-2.04,-1.16,0.25,-0.88,1.18,0.36,-2.94,0.42,-0.10,Premium
2,2021-01-01 02:00,0.29,0.67,-0.36,-0.01,-1.93,0.33,-0.51,0.72,-0.72,-0.58,2.02,0.92,-3.23,1.48,1.11,Rejected
3,2021-01-01 03:00,2.98,1.00,-1.19,-0.80,1.72,0.49,2.45,1.16,2.56,0.69,0.50,-0.60,-2.09,-2.03,-1.34,Rejected
4,2021-01-01 04:00,0.27,1.92,-0.37,0.16,0.95,-1.29,-0.60,1.31,0.79,-1.25,-1.35,-0.82,1.34,-1.05,-1.17,Premium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,2021-07-27 03:00,0.22,-0.42,0.56,-0.97,1.40,1.48,-0.74,0.70,0.84,-1.48,-0.60,-0.52,-0.45,-2.06,-1.37,Premium
4996,2021-07-27 04:00,0.87,-1.54,1.78,-0.64,1.04,0.66,1.97,-1.56,0.61,1.41,-0.12,0.15,-0.60,1.36,-0.86,Premium
4997,2021-07-27 05:00,0.17,-0.75,0.46,0.33,1.05,0.99,0.70,-0.39,0.30,0.34,0.46,-1.01,-0.66,0.94,-0.72,Approved
4998,2021-07-27 06:00,0.73,0.40,1.51,-1.50,-2.33,-0.14,-1.66,1.25,-0.07,-3.02,-1.09,1.07,0.02,3.36,0.76,Rejected
4999,2021-07-27 07:00,-0.05,-0.73,0.29,1.62,1.43,-1.20,0.45,0.52,1.95,0.16,1.27,-0.82,0.57,0.93,1.60,Approved

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 17 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   DateTime       5000 non-null   object
 1   In_Flow        5000 non-null   float64
 2   In_Angle       5000 non-null   float64
 3   In_Temp        5000 non-null   float64
 4   Out_Temp       5000 non-null   float64
 5   In_Pressure    5000 non-null   float64
 6   Viscosity      5000 non-null   float64
 7   Humidity       5000 non-null   float64
 8   Rot_Speed      5000 non-null   float64
 9   Valve_Opening  5000 non-null   float64
 10  Tank_%         5000 non-null   float64
 11  Out_Speed      5000 non-null   float64
 12  Thickness      5000 non-null   float64
 13  Vibration      5000 non-null   float64
 14  Col_density    5000 non-null   float64
 15  Oxygen         5000 non-null   float64
 16  Quality_type   5000 non-null   object
dtypes: float64(15), object(2)
memory usage: 664.2+ KB

In [4]:
df.describe()

,In_Flow,In_Angle,In_Temp,Out_Temp,In_Pressure,Viscosity,Humidity,Rot_Speed,Valve_Opening,Tank_%,Out_Speed,Thickness,Vibration,Col_density,Oxygen
count,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000
mean,0.678662,-0.014500,0.015068,-0.325204,0.321296,0.016494,0.602450,-0.041896,0.001114,0.003056,-0.008622,0.008310,-0.005300,0.710344,-0.014744
std,1.399886,1.000462,1.001892,1.624843,1.513627,0.991784,1.354942,2.049810,1.005592,1.550016,0.999602,1.003544,0.993812,1.700731,0.992921
min,-6.100000,-4.260000,-3.490000,-5.870000,-5.160000,-3.430000,-4.240000,-6.610000,-3.800000,-5.810000,-3.510000,-4.200000,-3.660000,-6.120000,-3.750000
25%,-0.060000,-0.700000,-0.680000,-1.460000,-0.640000,-0.640000,-0.330000,-1.480000,-0.670000,-1.080000,-0.680000,-0.670000,-0.670000,-0.340000,-0.690000
50%,0.820000,-0.020000,0.020000,-0.450000,0.500000,0.020000,0.580000,-0.050000,0.000000,0.010000,-0.010000,0.000000,-0.010000,0.740000,0.010000
75%,1.580000,0.670000,0.720000,0.690000,1.380000,0.680000,1.520000,1.390000,0.670000,1.110000,0.670000,0.670000,0.650000,1.830000,0.660000
max,5.080000,3.310000,3.500000,5.810000,4.900000,3.500000,5.230000,6.560000,4.060000,5.470000,3.160000,3.410000,3.540000,6.830000,3.630000

In [5]:
df.corr()

,In_Flow,In_Angle,In_Temp,Out_Temp,In_Pressure,Viscosity,Humidity,Rot_Speed,Valve_Opening,Tank_%,Out_Speed,Thickness,Vibration,Col_density,Oxygen
In_Flow,1.000000,-0.003215,-0.013636,0.052537,0.225834,-0.005518,0.577518,0.563143,-0.020819,-0.107559,0.005053,-0.022900,-0.006062,-0.038673,-0.000930
In_Angle,-0.003215,1.000000,-0.021197,-0.011058,0.020030,0.011512,0.012110,-0.020147,-0.013598,0.004809,0.004233,0.015907,-0.023547,0.021942,-0.003048
In_Temp,-0.013636,-0.021197,1.000000,0.017025,-0.005671,-0.004853,-0.018469,0.008818,-0.020885,-0.012042,-0.002168,0.012368,-0.002501,0.013037,-0.000689
Out_Temp,0.052537,-0.011058,0.017025,1.000000,0.335845,0.015195,0.052069,0.595381,-0.012813,0.019571,-0.014401,-0.022045,-0.010388,-0.034745,-0.015645
In_Pressure,0.225834,0.020030,-0.005671,0.335845,1.000000,0.014567,0.359416,0.199894,-0.009023,0.033507,-0.002565,0.009006,0.014644,-0.352036,0.009033
Viscosity,-0.005518,0.011512,-0.004853,0.015195,0.014567,1.000000,-0.005198,0.009250,-0.011055,-0.002515,-0.008765,-0.007998,-0.007153,-0.016358,-0.007108
Humidity,0.577518,0.012110,-0.018469,0.052069,0.359416,-0.005198,1.000000,-0.144698,-0.019063,0.709014,0.006603,-0.020469,0.005821,-0.002687,0.034456
Rot_Speed,0.563143,-0.020147,0.008818,0.595381,0.199894,0.009250,-0.144698,1.000000,-0.013160,-0.598043,-0.008950,-0.019867,-0.015282,-0.166462,-0.034626
Valve_Opening,-0.020819,-0.013598,-0.020885,-0.012813,-0.009023,-0.011055,-0.019063,-0.013160,1.000000,-0.005777,0.012415,0.007919,0.013938,-0.002074,-0.012193
Tank_%,-0.107559,0.004809,-0.012042,0.019571,0.033507,-0.002515,0.709014,-0.598043,-0.005777,1.000000,0.002849,-0.015462,0.006652,-0.066817,0.040016
Out_Speed,0.005053,0.004233,-0.002168,-0.014401,-0.002565,-0.008765,0.006603,-0.008950,0.012415,0.002849,1.000000,0.024807,-0.008690,0.005061,0.003664
Thickness,-0.022900,0.015907,0.012368,-0.022045,0.009006,-0.007998,-0.020469,-0.019867,0.007919,-0.015462,0.024807,1.000000,-0.024009,0.006112,-0.018229
Vibration,-0.006062,-0.023547,-0.002501,-0.010388,0.014644,-0.007153,0.005821,-0.015282,0.013938,0.006652,-0.008690,-0.024009,1.000000,-0.003732,-0.022625
Col_density,-0.038673,0.021942,0.013037,-0.034745,-0.352036,-0.016358,-0.002687,-0.166462,-0.002074,-0.066817,0.005061,0.006112,-0.003732,1.000000,-0.000561
Oxygen,-0.000930,-0.003048,-0.000689,-0.015645,0.009033,-0.007108,0.034456,-0.034626,-0.012193,0.040016,0.003664,-0.018229,-0.022625,-0.000561,1.000000

In [6]:
dfc19 = pd.read_excel("kasuscovid19.xlsx")
dfc19

,Total Kasus,Bali,Banten,Babel,Bengkulu,DIY,Jakarta,Jambi,Jabar,Jateng,...,Maluku,Papbar,Papua,Sulbar,NTT,Gorontalo,?,Jumlah,Sembuh,Meninggal
0,2020-03-18,1,17,0,0,3,158,0,24,8,...,0,0,0,0,0,0,0.0,227,NaN,NaN
1,2020-03-19,1,27,0,0,5,210,0,26,12,...,0,0,0,0,0,0,0.0,309,NaN,NaN
2,2020-03-20,4,37,0,0,4,215,0,41,12,...,0,0,0,0,0,0,13.0,369,NaN,NaN
3,2020-03-21,3,43,0,0,5,267,0,55,14,...,0,0,0,0,0,0,10.0,450,NaN,NaN
4,2020-03-22,3,47,0,0,5,307,0,59,15,...,1,0,2,0,0,0,6.0,514,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
511,2021-08-11,89898,122542,40027,20705,133411,835609,23792,646741,428896,...,13950,20982,29314,9856,50439,9722,0.0,3723313,NaN,NaN
512,2021-08-12,91251,122937,40422,20822,134494,836687,23892,648609,434196,...,13978,21209,29538,9977,51155,9837,0.0,3747841,NaN,NaN
513,2021-08-13,93161,123650,41082,21019,135737,837897,24292,651577,438419,...,14033,21348,29779,10199,52040,9984,0.0,3778218,NaN,NaN
514,2021-08-14,94956,124255,41635,21284,137525,839260,24706,653741,442979,...,14051,21447,29957,10370,52689,10153,0.0,3806419,NaN,NaN
515,2021-08-15,96027,124661,41946,21361,138458,840442,25082,655040,447123,...,14055,21515,30109,10470,53187,10229,0.0,3826922,NaN,NaN

In [7]:
dfc19.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 516 entries, 0 to 515
Data columns (total 38 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Total Kasus  516 non-null    datetime64[ns]
 1   Bali         516 non-null    int64
 2   Banten       516 non-null    int64
 3   Babel        516 non-null    int64
 4   Bengkulu     516 non-null    int64
 5   DIY          516 non-null    int64
 6   Jakarta      516 non-null    int64
 7   Jambi        516 non-null    int64
 8   Jabar        516 non-null    int64
 9   Jateng       516 non-null    int64
 10  Jatim        516 non-null    int64
 11  Kalbar       516 non-null    int64
 12  Kaltim       516 non-null    int64
 13  Kalteng      516 non-null    int64
 14  Kalsel       516 non-null    int64
 15  Kaltara      516 non-null    int64
 16  Kep Riau     516 non-null    int64
 17  NTB          516 non-null    int64
 18  Sumsel       516 non-null    int64
 19  Sumbar       516 non-null    int64
 20  Sulut        516 non-null    int64
 21  Sumut        516 non-null    int64
 22  Sultra       516 non-null    int64
 23  Sulsel       516 non-null    int64
 24  Sulteng      516 non-null    int64
 25  Lampung      516 non-null    int64
 26  Riau         516 non-null    int64
 27  Malut        516 non-null    int64
 28  Maluku       516 non-null    int64
 29  Papbar       516 non-null    int64
 30  Papua        516 non-null    int64
 31  Sulbar       516 non-null    int64
 32  NTT          516 non-null    int64
 33  Gorontalo    516 non-null    int64
 34  ?            493 non-null    float64
 35  Jumlah       516 non-null    int64
 36  Sembuh       0 non-null      float64
 37  Meninggal    0 non-null      float64
dtypes: datetime64[ns](1), float64(3), int64(34)
memory usage: 153.3 KB

In [8]:
dfc19.describe()

,Bali,Banten,Babel,Bengkulu,DIY,Jakarta,Jambi,Jabar,Jateng,Jatim,...,Maluku,Papbar,Papua,Sulbar,NTT,Gorontalo,?,Jumlah,Sembuh,Meninggal
count,516.000000,516.000000,516.000000,516.000000,516.000000,516.000000,516.000000,516.000000,516.000000,516.000000,...,516.000000,516.000000,516.000000,516.000000,516.000000,516.000000,493.000000,5.160000e+02,0.0,0.0
mean,22600.257752,24425.662791,6694.848837,3887.271318,22098.600775,223194.802326,4416.653101,142498.550388,99971.782946,87322.374031,...,4688.513566,5299.717054,11181.897287,2694.637597,7226.984496,3264.596899,5.111562,9.004063e+05,NaN,NaN
std,22348.315184,28892.297923,9633.491224,4731.974946,30564.166024,229107.148678,5573.402440,170638.506772,108584.703840,79884.150373,...,3712.245955,5026.902630,8542.518237,2704.431368,10729.546607,2386.881610,10.049761,9.398329e+05,NaN,NaN
min,1.000000,17.000000,0.000000,0.000000,3.000000,158.000000,0.000000,24.000000,8.000000,8.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.270000e+02,NaN,NaN
25%,3100.000000,1722.750000,185.750000,198.750000,531.750000,18647.000000,138.750000,5969.750000,8288.250000,20178.500000,...,1014.500000,387.750000,2822.000000,184.000000,137.000000,770.500000,0.000000,9.665225e+04,NaN,NaN
50%,13933.500000,13138.000000,1019.000000,1832.500000,6018.000000,137390.000000,1968.000000,52956.000000,56261.000000,62098.000000,...,4620.000000,5314.000000,10054.000000,1471.500000,1225.500000,3110.000000,0.000000,5.331325e+05,NaN,NaN
75%,41310.750000,44690.750000,10001.750000,5698.750000,35058.500000,389830.250000,6574.500000,256135.750000,172808.250000,141797.000000,...,7401.500000,8489.750000,19879.500000,5379.500000,12723.500000,5228.750000,2.000000,1.544162e+06,NaN,NaN
max,96027.000000,124661.000000,41946.000000,21361.000000,138458.000000,840442.000000,25082.000000,655040.000000,447123.000000,358038.000000,...,14055.000000,21515.000000,30109.000000,10470.000000,53187.000000,10229.000000,42.000000,3.826922e+06,NaN,NaN

In [9]:
dfc19.corr()

,Bali,Banten,Babel,Bengkulu,DIY,Jakarta,Jambi,Jabar,Jateng,Jatim,...,Maluku,Papbar,Papua,Sulbar,NTT,Gorontalo,?,Jumlah,Sembuh,Meninggal
Bali,1.000000,0.978113,0.957688,0.972744,0.957761,0.990620,0.971458,0.987465,0.992803,0.990135,...,0.968650,0.979197,0.962015,0.986754,0.954411,0.957274,-0.517010,0.994701,NaN,NaN
Banten,0.978113,1.000000,0.980216,0.993760,0.992214,0.981194,0.991364,0.989623,0.986672,0.983181,...,0.939777,0.973686,0.902699,0.943783,0.986045,0.908489,-0.432290,0.988891,NaN,NaN
Babel,0.957688,0.980216,1.000000,0.983197,0.986595,0.958940,0.991634,0.982768,0.969747,0.947575,...,0.887768,0.931618,0.853004,0.915878,0.986618,0.857978,-0.362161,0.970058,NaN,NaN
Bengkulu,0.972744,0.993760,0.983197,1.000000,0.993649,0.979186,0.997243,0.987001,0.987950,0.980715,...,0.938635,0.972856,0.896597,0.937856,0.983405,0.905295,-0.426323,0.987597,NaN,NaN
DIY,0.957761,0.992214,0.986595,0.993649,1.000000,0.967944,0.993550,0.983708,0.976701,0.966039,...,0.909739,0.952948,0.858062,0.919222,0.993625,0.871419,-0.377124,0.976651,NaN,NaN
Jakarta,0.990620,0.981194,0.958940,0.979186,0.967944,1.000000,0.978083,0.993096,0.997035,0.987965,...,0.973274,0.983935,0.949818,0.976613,0.952626,0.943734,-0.498661,0.997699,NaN,NaN
Jambi,0.971458,0.991364,0.991634,0.997243,0.993550,0.978083,1.000000,0.989778,0.986890,0.972947,...,0.928017,0.964612,0.888766,0.935016,0.984812,0.895041,-0.411699,0.986343,NaN,NaN
Jabar,0.987465,0.989623,0.982768,0.987001,0.983708,0.993096,0.989778,1.000000,0.995592,0.979492,...,0.943650,0.968013,0.918480,0.966700,0.976386,0.912324,-0.433832,0.995703,NaN,NaN
Jateng,0.992803,0.986672,0.969747,0.987950,0.976701,0.997035,0.986890,0.995592,1.000000,0.990297,...,0.964884,0.981937,0.942213,0.977028,0.965539,0.937787,-0.476450,0.999233,NaN,NaN
Jatim,0.990135,0.983181,0.947575,0.980715,0.966039,0.987965,0.972947,0.979492,0.990297,1.000000,...,0.980063,0.990313,0.954441,0.971418,0.955423,0.963856,-0.542884,0.992525,NaN,NaN
Kalbar,0.939378,0.981773,0.987651,0.987762,0.992908,0.950980,0.991378,0.969412,0.960734,0.948716,...,0.893062,0.941878,0.835051,0.886262,0.984850,0.854908,-0.375051,0.961854,NaN,NaN
Kaltim,0.998154,0.973570,0.950429,0.968526,0.952583,0.991568,0.966591,0.986823,0.993027,0.986857,...,0.967981,0.977295,0.964122,0.992442,0.947585,0.951606,-0.501421,0.993565,NaN,NaN
Kalteng,0.993907,0.975311,0.963727,0.975078,0.957043,0.992478,0.976476,0.989084,0.993216,0.982326,...,0.966634,0.975495,0.957563,0.975627,0.946424,0.947668,-0.510854,0.994197,NaN,NaN
Kalsel,0.990473,0.956328,0.936776,0.949061,0.927170,0.975732,0.949465,0.966962,0.974433,0.977218,...,0.969854,0.968268,0.972766,0.970940,0.922700,0.971577,-0.588154,0.979233,NaN,NaN
Kaltara,0.991204,0.974791,0.958512,0.971753,0.961635,0.982226,0.969277,0.986628,0.989736,0.980031,...,0.942490,0.960006,0.935871,0.986939,0.962119,0.924315,-0.445536,0.988044,NaN,NaN
Kep Riau,0.927293,0.973097,0.972770,0.983587,0.986189,0.948051,0.985470,0.959736,0.955397,0.945257,...,0.899694,0.945019,0.832399,0.874424,0.969216,0.855148,-0.389213,0.955846,NaN,NaN
NTB,0.994106,0.978167,0.954574,0.976761,0.959346,0.990136,0.974296,0.982349,0.991296,0.995188,...,0.980039,0.986361,0.962583,0.973837,0.948887,0.967982,-0.560211,0.993960,NaN,NaN
Sumsel,0.984280,0.989448,0.972038,0.991998,0.979803,0.985450,0.989784,0.984462,0.989844,0.991827,...,0.965241,0.986121,0.931719,0.950300,0.968589,0.944624,-0.513564,0.992320,NaN,NaN
Sumbar,0.984317,0.968276,0.945647,0.972581,0.947382,0.986386,0.970786,0.974426,0.986331,0.982466,...,0.979966,0.990528,0.964344,0.963754,0.930398,0.957268,-0.533124,0.987698,NaN,NaN
Sulut,0.977753,0.932154,0.885049,0.929974,0.899626,0.966985,0.919282,0.943375,0.965720,0.978776,...,0.984812,0.969608,0.988008,0.984083,0.887421,0.982792,-0.610339,0.966716,NaN,NaN
Sumut,0.984421,0.976447,0.943313,0.976233,0.958453,0.975598,0.969119,0.967220,0.980471,0.994709,...,0.975712,0.989959,0.951014,0.957131,0.951406,0.968635,-0.558912,0.983835,NaN,NaN
Sultra,0.955948,0.909592,0.850331,0.909506,0.870512,0.951929,0.896652,0.917136,0.945956,0.961717,...,0.989557,0.972567,0.991227,0.960809,0.849279,0.980591,-0.628717,0.947765,NaN,NaN
Sulsel,0.975906,0.918630,0.881696,0.913940,0.884348,0.963945,0.907861,0.942627,0.960493,0.963561,...,0.970541,0.950695,0.986840,0.989829,0.874045,0.969495,-0.592355,0.960954,NaN,NaN
Sulteng,0.986801,0.976015,0.961533,0.974777,0.966143,0.973509,0.971670,0.981448,0.985277,0.978577,...,0.932738,0.957783,0.922290,0.978164,0.970856,0.917645,-0.431912,0.983387,NaN,NaN
Lampung,0.989542,0.991066,0.980819,0.992932,0.984637,0.991097,0.992609,0.996730,0.997754,0.985777,...,0.948999,0.974628,0.924499,0.969438,0.977816,0.920544,-0.439705,0.996714,NaN,NaN
Riau,0.979467,0.977626,0.973743,0.984799,0.966919,0.982602,0.987737,0.982347,0.986397,0.975403,...,0.955952,0.978173,0.931605,0.946875,0.953090,0.930833,-0.483582,0.987561,NaN,NaN
Malut,0.966860,0.971080,0.931332,0.968172,0.959336,0.971360,0.959018,0.960253,0.970470,0.989119,...,0.971453,0.979328,0.928050,0.936915,0.945196,0.955462,-0.576989,0.974968,NaN,NaN
Maluku,0.968650,0.939777,0.887768,0.938635,0.909739,0.973274,0.928017,0.943650,0.964884,0.980063,...,1.000000,0.987345,0.982065,0.958623,0.886346,0.984780,-0.631382,0.968598,NaN,NaN
Papbar,0.979197,0.973686,0.931618,0.972856,0.952948,0.983935,0.964612,0.968013,0.981937,0.990313,...,0.987345,1.000000,0.958719,0.956796,0.936105,0.962622,-0.545983,0.984907,NaN,NaN
Papua,0.962015,0.902699,0.853004,0.896597,0.858062,0.949818,0.888766,0.918480,0.942213,0.954441,...,0.982065,0.958719,1.000000,0.967186,0.843105,0.983159,-0.646372,0.945741,NaN,NaN
Sulbar,0.986754,0.943783,0.915878,0.937856,0.919222,0.976613,0.935016,0.966700,0.977028,0.971418,...,0.958623,0.956796,0.967186,1.000000,0.915447,0.948123,-0.513702,0.976021,NaN,NaN
NTT,0.954411,0.986045,0.986618,0.983405,0.993625,0.952626,0.984812,0.976386,0.965539,0.955423,...,0.886346,0.936105,0.843105,0.915447,1.000000,0.856977,-0.352244,0.966199,NaN,NaN
Gorontalo,0.957274,0.908489,0.857978,0.905295,0.871419,0.943734,0.895041,0.912324,0.937787,0.963856,...,0.984780,0.962622,0.983159,0.948123,0.856977,1.000000,-0.694383,0.943547,NaN,NaN
?,-0.517010,-0.432290,-0.362161,-0.426323,-0.377124,-0.498661,-0.411699,-0.433832,-0.476450,-0.542884,...,-0.631382,-0.545983,-0.646372,-0.513702,-0.352244,-0.694383,1.000000,-0.490161,NaN,NaN
Jumlah,0.994701,0.988891,0.970058,0.987597,0.976651,0.997699,0.986343,0.995703,0.999233,0.992525,...,0.968598,0.984907,0.945741,0.976021,0.966199,0.943547,-0.490161,1.000000,NaN,NaN
Sembuh,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Meninggal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
dfapi = pd.read_json("https://api.coindesk.com/v1/bpi/currentprice.json")

In [11]:
dfapi

,time,disclaimer,chartName,bpi
updated,"Aug 18, 2021 07:10:00 UTC",This data was produced from the CoinDesk Bitco...,Bitcoin,NaN
updatedISO,2021-08-18T07:10:00+00:00,This data was produced from the CoinDesk Bitco...,Bitcoin,NaN
updateduk,"Aug 18, 2021 at 08:10 BST",This data was produced from the CoinDesk Bitco...,Bitcoin,NaN
USD,NaN,This data was produced from the CoinDesk Bitco...,Bitcoin,"{'code': 'USD', 'symbol': '&#36;', 'rate': '45..."
GBP,NaN,This data was produced from the CoinDesk Bitco...,Bitcoin,"{'code': 'GBP', 'symbol': '&pound;', 'rate': '..."
EUR,NaN,This data was produced from the CoinDesk Bitco...,Bitcoin,"{'code': 'EUR', 'symbol': '&euro;', 'rate': '3..."

In [14]:
lst_cols = ['No', 'Kode Saham', 'Nama Perusahaan','Sebelumnya', 'Open Price', 'Tertinggi', 'Terendah', 'Penutupan', 'Selisih', 'Volume', 'Nilai']

In [15]:
saham = pd.read_excel("Ringkasan Saham-20210816.xlsx",skiprows=1,usecols=lst_cols)
saham

,No,Kode Saham,Nama Perusahaan,Sebelumnya,Open Price,Tertinggi,Terendah,Penutupan,Selisih,Volume,Nilai
0,1,AALI,Astra Agro Lestari Tbk.,8475,0,8550,8350,8425,-50,1232300,10373710000
1,2,ABBA,Mahaka Media Tbk.,496,0,585,496,510,14,139331300,74690535700
2,3,ABDA,Asuransi Bina Dana Arta Tbk.,6950,0,0,0,6950,0,0,0
3,4,ABMM,ABM Investama Tbk.,1490,0,1515,1390,1390,-100,305600,440736500
4,5,ACES,Ace Hardware Indonesia Tbk.,1455,1485,1535,1460,1500,45,15861300,23766636500
...,...,...,...,...,...,...,...,...,...,...,...
738,739,YULE,Yulie Sekuritas Indonesia Tbk.,444,0,444,424,430,-14,5400,2386000
739,740,ZBRA,Zebra Nusantara Tbk,1050,0,1120,980,1075,25,7772200,8093540500
740,741,ZINC,Kapuas Prima Coal Tbk.,136,0,139,134,137,1,409591100,56125283800
741,742,ZONE,Mega Perintis Tbk.,390,0,392,390,392,2,106300,41596200
742,743,ZYRX,Zyrexindo Mandiri Buana Tbk.,650,0,740,650,660,10,23263400,16153476000

In [16]:
saham.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 743 entries, 0 to 742
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   No               743 non-null    int64
 1   Kode Saham       743 non-null    object
 2   Nama Perusahaan  743 non-null    object
 3   Sebelumnya       743 non-null    int64
 4   Open Price       743 non-null    int64
 5   Tertinggi        743 non-null    int64
 6   Terendah         743 non-null    int64
 7   Penutupan        743 non-null    int64
 8   Selisih          743 non-null    int64
 9   Volume           743 non-null    int64
 10  Nilai            743 non-null    int64
dtypes: int64(9), object(2)
memory usage: 64.0+ KB

In [19]:
new_df = saham.copy()

In [20]:
new_df['Persentase'] = saham['Selisih']/saham['Sebelumnya']*100
new_df.head()

,No,Kode Saham,Nama Perusahaan,Sebelumnya,Open Price,Tertinggi,Terendah,Penutupan,Selisih,Volume,Nilai,Persentase
0,1,AALI,Astra Agro Lestari Tbk.,8475,0,8550,8350,8425,-50,1232300,10373710000,-0.589971
1,2,ABBA,Mahaka Media Tbk.,496,0,585,496,510,14,139331300,74690535700,2.822581
2,3,ABDA,Asuransi Bina Dana Arta Tbk.,6950,0,0,0,6950,0,0,0,0.000000
3,4,ABMM,ABM Investama Tbk.,1490,0,1515,1390,1390,-100,305600,440736500,-6.711409
4,5,ACES,Ace Hardware Indonesia Tbk.,1455,1485,1535,1460,1500,45,15861300,23766636500,3.092784

In [21]:
new_df.corr()

,No,Sebelumnya,Open Price,Tertinggi,Terendah,Penutupan,Selisih,Volume,Nilai,Persentase
No,1.000000,-0.025174,-0.019388,-0.044321,-0.044072,-0.024584,0.027389,-0.067990,-0.135317,0.062275
Sebelumnya,-0.025174,1.000000,0.525238,0.897748,0.898909,0.999368,-0.553500,-0.046439,0.157310,-0.045004
Open Price,-0.019388,0.525238,1.000000,0.587624,0.593091,0.534878,-0.057128,-0.011933,0.257129,-0.001974
Tertinggi,-0.044321,0.897748,0.587624,1.000000,0.998796,0.893525,-0.582519,-0.040508,0.187776,-0.047282
Terendah,-0.044072,0.898909,0.593091,0.998796,1.000000,0.894465,-0.588338,-0.040602,0.187118,-0.049549
Penutupan,-0.024584,0.999368,0.534878,0.893525,0.894465,1.000000,-0.523538,-0.047065,0.159757,-0.035408
Selisih,0.027389,-0.553500,-0.057128,-0.582519,-0.588338,-0.523538,1.000000,0.010349,-0.027416,0.249026
Volume,-0.067990,-0.046439,-0.011933,-0.040508,-0.040602,-0.047065,0.010349,1.000000,0.607723,0.114655
Nilai,-0.135317,0.157310,0.257129,0.187776,0.187118,0.159757,-0.027416,0.607723,1.000000,-0.010420
Persentase,0.062275,-0.045004,-0.001974,-0.047282,-0.049549,-0.035408,0.249026,0.114655,-0.010420,1.000000

In [22]:
new_df_df["Persentase"].corr()

TypeError: corr() missing 1 required positional argument: 'other'